{% extends "base.html" %}
{% block content %}

<div class="container mt-4">
    <h1 class="mb-4">Welcome, {{ current_user.username }}!</h1>

    <!-- User Info -->
    <div>
        <h3>User Details</h3>
        <p><strong>Username:</strong> {{ current_user.username }}</p>
        <p><strong>Email:</strong> {{ current_user.email }}</p>
        <p><strong>Role:</strong> 
            {% if current_user.is_recruiter %}
                Recruiter
            {% else %}
                Job Seeker
            {% endif %}
        </p>
    </div>

    <p><strong>Upload your resume:</strong> 
    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="resume">
        <button type="submit">Upload Resume</button>
    </form>
    
    {% if resume_path %}
        <p></p>
        <p><strong>Your resume:</strong> <a href="{{ url_for('serve_resume', path=resume_path.split('/')[-1]) }}" target="_blank">View Resume</a></p> 
        <p>Generated URL: {{ url_for('serve_resume', path=resume_path.split('/')[-1]) }}</p> 
        {% endif %}

    <div class="mt-4">
        <h3>My Reviews</h3>
        {% if current_user.reviews %}
            {% for review in current_user.reviews %}
                <div class="mb-3">
                    <h4>{{ review.job_title }} ({{ review.department }})</h4>
                    <p><strong>Location:</strong> {{ review.locations }}</p>
                    <p><strong>Job Description:</strong> {{ review.job_description }}</p>
                    <p><strong>Hourly Pay:</strong> {{ review.hourly_pay }}</p>
                    <p><strong>Benefits:</strong> {{ review.benefits }}</p>
                    <p><strong>Review:</strong> {{ review.review }}</p>
                    <p><strong>Rating:</strong> {{ review.rating }}/5</p>
                    <p><strong>Recommendation:</strong> 
                        {% if review.recommendation %}
                            Yes
                        {% else %}
                            No
                        {% endif %}
                    </p>
                    <hr>
                </div>
            {% endfor %}
        {% else %}
            <p>No reviews available.</p>
        {% endif %}
    </div>

</div>

{% endblock content %}
